# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Toggle': 'ide-haskell:toggle-output'
    'Check': 'ide-haskell:file-check'
    'Lint': 'ide-haskell:file-lint'
    'Type': 'ide-haskell:get-type'

'menu': [
  {
  }
]
