// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "octicon-utf-codes";
@import "ui-variables";
@import "tooltips";

.ide-haskell {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  min-height: 120px;

  .resize-handle {
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    cursor: row-resize;
  }

  .panel {
    -webkit-flex-grow: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    margin: 0;
  }

  .panel-heading {
    -webkit-flex-shrink: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    .btn {
      top: 0px;
    }

    .status-icon {
      &:before {
        font-family: 'Octicons Regular';
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        font-size: 10pt;
        content: @check;
        width: 15pt;
      }

      &[data-status=progress]:before {
        content: @hourglass;
      }
      &[data-status=ready]:before {
        content: @check;
      }
    }
  }

  .panel-body {
    -webkit-flex-grow: 1;
    overflow-y: scroll;
    padding: 3px @component-padding;

    .result-block {
      padding: 4px 0px;
      margin: 0px;
      font-size: 8pt;
      line-height: 14pt;
      white-space: normal;

      .position {
        cursor: pointer;
      }

      .description {
        padding-top: 3px;
        padding-bottom: 3px;
        color: lighten(@text-color, 15%);
        background-color: @tool-panel-background-color;
        font-size: 8pt;
        white-space: pre;
      }
    }
  }
}

.editor {

  .check-result.lint {
    background-color: @background-color-highlight;
  }

  .check-result.warning {
    background-color: @background-color-highlight;
  }

  .check-result.error {
    background-color: @background-color-highlight;
  }

  .gutter .line-number {

    &.check-result.lint .icon-right {
      visibility: visible;

      &:before {
        content: @info;
        color: @text-color-info;
      }
    }

    &.check-result.warning .icon-right {
      visibility: visible;

      &:before {
        content: @stop;
        color: @text-color-warning;
      }
    }

    &.check-result.error .icon-right {
      visibility: visible;

      &:before {
        content: @alert;
        color: @text-color-error;
      }
    }
  }
}

.ide-haskell-tooltip {
  .tooltip .tooltip-inner;
  text-align: left;
  padding: 0px;
  white-space: pre;
  background-color: transparent;
  line-height: 14px;
  font-size: 8pt;
}
