// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.ide-haskell {
}

.ide-haskell-output-view {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  min-height: 120px;

  .resize-handle {
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    cursor: row-resize;
  }

  .panel {
    -webkit-flex-grow: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    margin: 0;
  }

  .panel-heading {
    -webkit-flex-shrink: 0;

    @padding-top-bottom: 5px;
    padding-top: @padding-top-bottom;
    padding-bottom: @padding-top-bottom;

    .btn {
      top: 0px;
    }
  }

  .background-message {
    padding-top: 20px;
    text-align: center;
  }

  .panel-body {
    -webkit-flex-grow: 1;
    overflow-y: scroll;
    padding: 3px @component-padding;

    .message-block {
      padding: 3px 0px;
      margin: 0px;
      font-size: 9pt;
      line-height: 14pt;
      white-space: normal;
      border-bottom: solid 1px rgba(0,0,0,.5);
    }
  }
}
